  :root{
      /* Font size */
  --font-large: 40px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 14px;
  --font-micro: 12px;

  }


*{
  box-sizing: border-box;
}
ul{
  padding-left:0;
}
li{
  list-style: none;
  font-size: var(--font-regular);
}
a{
  text-decoration: none;
  color:black;
}
h1{
  font-size:var(--font-large);
  margin:0;
  letter-spacing: -0.03em;
}
p{
  font-size: var(--font-regular);
}
label{
  font-size: var(--font-small);

}

.navbar{
  display:flex;
  gap:2rem;
  padding : 0.5rem; 
}
.navbar_items{
  align-self: center;
  font-size:20px;
}
.navbar_selected{
  font-weight: 600;
}
.navbar_items:hover, .navbar_items:focus, .navbar_selected{
  margin-top: 2px;
  background: linear-gradient(to top, rgb(255, 180, 192) 40%, transparent 30%);
}

.navbar_hamburger {
  align-self: center;
  font-size:20px;
  display: none; 
  cursor: pointer;
}
.navbar_column{
  display:none;
}
.custom_line{
  width: 100%;
  margin-top: 1%;
  border: 1px solid rgba(211, 211, 211, 0.3);
}
.flex_container{
  display:flex;
  gap: 1rem;
}

.main_container{
  display: flex;
  direction: column;
  justify-content: center;
  padding:2rem;
  margin-top: 5rem;
  margin :auto;
}
.inner_shadow_container{
  display: flex;
  gap:4rem;
  padding: 2rem;
  background-color: #ffffff; /* white */
  border-radius: 0.3rem; /* 6px / 16 = 0.375rem */
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); 
}
.list_container{
  margin-left:1rem;
}
.info_container, .form_container{
  width:50%;
}
.info_detail{
  list-style-type: disc;
  margin-bottom:0.5rem;
  font-weight: 500;
}

.input_box {
  width: 100%;
  padding: 1rem;
  margin-bottom:0.5rem;
  border-width: 0 0 2px 0; 
  border-color: #d1d5db; 
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1); 
}
.error_container{
  color:gray;
  font-size:var(--font-micro);
  margin-bottom: 1rem;
}

.submit_btn{
  all: unset;
  background-color: rgb(227, 149, 162);
  font-weight: 600;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
  width: 60%;
  margin: 0.7rem 0.3rem; 
  padding:0.8rem; 
  cursor: pointer;
}
.submit_btn:hover{
  background-color: rgb(203, 42, 103);
  color:white;
}
.history_container{
  display: flex;
  min-width: 300px;
  gap:1rem;
  padding: 2rem;
  background-color: #fff;
  border-radius: 0.5rem; 
  box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.1); 
}
.history_card{
  display: flex;
  flex-direction:column;
  gap:0.4rem;
  padding:0.5rem;
  flex-wrap: wrap;
  background-color: #fff;
  border: 1px solid rgba(211, 211, 211, 0.3);
  box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.1); 
}
.history_card:hover{
  transition: all 0.3 ease-in-out;
  transform: scale(1.05);
}


@media screen and (max-width:768px){
  h1{
    font-size:var(--font-medium);
    letter-spacing: -0.03em;
  }
  .flex_container, .inner_shadow_container, .history_container{
    flex-direction: column;
  }
  .info_container, .form_container{
    width:100%;
  }
}

@media (max-width: 576px) {
  .navbar{
    justify-content: space-between;
  }
  .open{
    display: block;
    flex-direction: column;
  }
  .navbar_items{
    display: none;
  }
  .navbar_column{
    display: flex;
    flex-direction: column;
    gap:0.4rem;
    align-items: center;
    margin-bottom:0.5rem;
  }
  .navbar_hamburger {
    display: block; /* 초기에는 햄버거 아이콘을 숨김 */
    cursor: pointer;
  }
}